@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.styling {
  font-size: 100px;
  text-shadow: 5px 5px black;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.rmvbtn {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.editbtn {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  margin-right: 90px;
  padding: 12px 16px 12px 16px;
}

.editbtn:hover {
  background-color: #0c861c;
  color: white;
}

.rmvbtn:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: #2980b9;
  padding: 30px 40px;
  color: white;
  text-align: center;
  font-size: 30px;
}

.header:after {
  content: '';
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 20px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #2ecc71;
  color: rgb(0, 0, 0);
  float: left;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  font-weight: 800;
}

.addBtn:hover {
  background-color: rgba(255, 255, 255, 0.452);
}

